<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Some random comments</title>
    </head>

    <body>
        <h2>Model form</h2>
        <form method="POST" action="{{ url_for('display_name') }}">
            {{ form.hidden_tag() }}
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
                <span>{{ error }}</span><br><br>
            {% endfor %}
            {{ form.usersurname.label }}<br>
            {{ form.usersurname }}<br><br>
            {{ form.submit() }}
        </form>
    </body>
</html>
